<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847407682924-foi9poi78d8k4v65jhtf17kqu7mv684h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847407682924-foi9poi78d8k4v65jhtf17kqu7mv684h</string>
	<key>API_KEY</key>
	<string>AIzaSyBXENq7GYUG-tzUwmEz3iS2Go6krKo-mWM</string>
	<key>GCM_SENDER_ID</key>
	<string>847407682924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googletry</string>
	<key>PROJECT_ID</key>
	<string>autheticationapp-e76ba</string>
	<key>STORAGE_BUCKET</key>
	<string>autheticationapp-e76ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847407682924:ios:de8b4060b107b8e9240f49</string>
</dict>
</plist>