<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319490394163-ormf50schqbcf1ia57ro9shblu2hd52q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319490394163-ormf50schqbcf1ia57ro9shblu2hd52q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319490394163-033i88naup0ei7dggektjdlb3fl7rhlo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4h5blZsC9cs47RbbnsfQz9bSdwXk3JsE</string>
	<key>GCM_SENDER_ID</key>
	<string>319490394163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googletry.dev</string>
	<key>PROJECT_ID</key>
	<string>devdev-97c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>devdev-97c2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319490394163:ios:e46f696782f42c31d2fb46</string>
</dict>
</plist>